h3 {
    color: red;
    cursor: pointer;
}

.recuadro {
    border: 2px solid black;
    height: 250px;
    overflow: scroll;
}

.divContenedores1 {
    width: 32%;
    float: left;
    padding: 15px;
    border: 2px solid blue;
    box-sizing: border-box;
}

.divContenedores2 {
    width: 36%;
    float: left;
    padding: 15px;
    border: 2px solid blue;
    box-sizing: border-box;
}

.divContenedores3 {
    width: 32%;
    float: left;
    padding: 15px;
    border: 2px solid blue;
    box-sizing: border-box;
}