#app{
    display: grid;
    grid-template-columns: 49.5% 49.5%;
    gap: 1em;
}
#app > div{
    border: 3px solid black;
}
table tr td{
    border: 1px solid black;
}
table{
    width: 70%;
    margin: 2em auto;
}
#datosProductos{
    height: fit-content;
}
h1{
    text-align: center;
}