<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <title> v-bind </title>
    <link rel="stylesheet" href="./estilos/estilos.css">
    <script src="./scripts/main.js"></script>
</head>

<body>
    <div id="app">
        <p id="p1">{{nombre}} {{apellidos}}</p>
        <p id="p2" :class="{ divAlt: !estilos }">{{edadMultiplicada(3)}} </p>
        <p id="p3">{{numero()}}</p>
        <div id="div1">
            <img :src="imagen" :alt="textoImagen">
        </div>
        <div id="div2">
            <input type="text" :value="nombre">
        </div>
        <div id="div3">
            <div v-for="(enlace,index) in enlaces">
                Enlace {{index+1}} {{ enlace }}
            </div>
        </div>
        <div>
            <input type="text" v-model="mensaje">
            <p>{{mensaje}}</p>
        </div>
    </div>
    <script>
        app.mount("#app");
    </script>
</body>

</html>