form {
    width: 60%;
    margin: auto;
    border: 1px solid black;
    border-radius: 23mm 23mm;
    ;
}

form * {
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
}

#divFormulario {
    text-align: center;
}

label {
    width: 65px;
    border: 1px dotted green;
}

input:required:invalid {
    border: red 1px solid;
}

.bordear {
    border: blue 3px solid;
}