<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/vue@next"></script>
    <script src='./Js/main.js'></script>
</head>

<body>
    <div id="app">
        <div id="parte1">
            Elemento: <select name="elemento" id="elemento" v-model="elemento">
                <option value="input">input</option>
                <option value="texto">texto</option>
                <option value="tabla">tabla</option>
            </select>
            <input type="text" v-if="elemento ===`input`">
            <span type="text" v-if="elemento ===`texto`">{{elemento}}</span>
            <table type="text" v-if="elemento ===`tabla`">
                <tr>
                    <td>A</td>
                    <td>B</td>
                </tr>
            </table>
        </div>
        <div id="parte2">
            <table>
                <tr v-for="(persona, index) in personas" :key="index">
                    <td>{{persona.dni}}</td>
                    <td>{{persona.nombre}}</td>
                    <td>{{persona.apellido}}</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        app.mount("#app");
    </script>
</body>

</html>