<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="./Vue/main.js"></script>
    <link rel="stylesheet" href="./Estilos/style.css">
</head>

<body>
    <div id="app">
        <div v-for="(imagen, index) in imagenes" :key="index">
            <img :src="imagen.url" :class="imagen.estilos" :alt="index" @mouseover="cambiarEstilos"
                @click="aumentarContador">
            <p>{{imagen.sitio}}</p>
            <p>Contador : {{imagen.contador}}</p>
        </div>
        <div v-for="(imagen, index) in imagenes" :key="index">
            <input type="text" v-model="imagen.sitio">
            <input type="number" :value="imagen.contador" readonly>
        </div>
        <p>Cambiar URL De las imagenes</p>
        <div v-for="(imagen, index) in imagenes" :key="index">
            <input type="text" v-model="imagen.url" @change="resetearContador" :alt="index">
        </div>
    </div>
    <script>
        app.mount("#app");
    </script>
</body>

</html>